@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');

@font-face{
    Dancing
}

body {
    background-color:#ffd400;
}

#navcontainer ul {list-style-type: none; text-align: left;
    padding: 0px; float: left; width: 100%}
 
#navcontainer li {display: inline}
 
#navcontainer a {text-decoration: none; color: #ffee00;
    background-color: #881000; text-align: center;
    border-color: #aa1000; border-style: outset;
    border-width: 3px; font-size: 24pt;
    border-radius: 10px;
    font-weight: bold; font-family: Times New Roman;
    margin-top: 5px; margin-right: 0px;
    margin-bottom: 5px; margin-left: 0px;
    padding-top: 0px; padding-right: 5px;
    padding-bottom: 0px; padding-left: 5px}

#bioheader{
    color: purple;
}
.comment{
    color: lightgray;
    max-width: 75%;
    
}
.bold{
    font-weight: bold;
}
.img-div{
    background-color: lightskyblue;
}

#img2{
    position: relative;
}

h1{
    color: red;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    margin: 10px;
}

h2{
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
    margin: 10px;
}
p{
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: grey;
    text-align: justify;
    font-weight: 300;
    line-height: initial;
    margin: 10px 40px;
    border: solid 5px darkgray;
    padding: 10px;
}

li{
    color: gray;font-size: 24;
}

img{
    height:200px;
    position: right;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    margin: 1%;

}