@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');

@font-face{
    Dancing
}

body{
    background-color:#ffd400;
    border-radius: 10px;
}
.container{}
.btn-lg {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    color: #ffee00;
    background-color: #881000;
    border-color: #5bc2c2;
    width: 100%;
    margin: 20px;
    
}
.btn-lg:hover {
    color: #ffffff;
    background-color: #c21700;
    border-color: #5bc2c2;
    width: 100%;
}
.barName {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: 881000;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    margin: 40px;
    
}
img{
    height:200px;
    position: right;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    margin: 1%;
}
.openB {
    margin: 15px;
    background-color: #ffc107; 
    border: solid 1px rgba(0,0,0,.125); 
    border-radius: 0.25rem; 
    
}