<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');

@font-face{
    'Dancing Script', cursive;
}

body {
    background-color:#ffd400;
}

.order-form .container {
    color: #4c4c4c;
    background-color: #ffc107;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  }

  .order-form-label {
    margin: 8px 0 0 0;
    font-size: 14px;
    font-weight: bold;
  }

  .order-form-input {
    width: 100%;
    padding: 8px 8px;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 3px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    background-color: #cccccc;
    border-color: #999999;
  }
  
  .order-form-input:hover {
    background-color: #eeeeee;
  }

  .btn-submit:hover {
    background-color: #090909 !important;
  }